/* line 4, neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* HEX f49b7e */
/* HEX a7a392 */
/* line 54, scss/reunion.styles.scss */
* {
  box-sizing: border-box;
  font-size: 12px;
  line-height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  text-transform: none;
  color: white;
  text-align: center;
  letter-spacing: 0.07em;
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 320px) {
    /* line 54, scss/reunion.styles.scss */
    * {
      font-size: 16px;
      line-height: auto;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
      text-align: left;
      text-transform: none;
      color: white; } }

/* line 70, scss/reunion.styles.scss */
html, body {
  padding: 0px;
  margin: 0px;
  background-color: #3c3c3b; }

/* line 81, scss/reunion.styles.scss */
.container {
  width: 100%;
  height: 100%;
  position: relative; }
  /* line 88, scss/reunion.styles.scss */
  .container .header {
    height: 107px;
    width: 100%;
    position: relative;
    border-top: 13px solid #f49b7e;
    border-bottom: 2px solid #f49b7e; }
    @media screen and (max-width: 600px) {
      /* line 88, scss/reunion.styles.scss */
      .container .header {
        height: 84px;
        border-top: 8px solid #f49b7e;
        border-bottom: 2px solid #f49b7e; } }
    /* line 109, scss/reunion.styles.scss */
    .container .header .logo {
      position: absolute;
      width: 210px;
      left: 34px;
      margin: 15px 0px 0px 0px; }
      @media screen and (max-width: 600px) {
        /* line 109, scss/reunion.styles.scss */
        .container .header .logo {
          width: 144px;
          left: 10px;
          margin: 14px 0px 0px 0px; } }
    /* line 123, scss/reunion.styles.scss */
    .container .header .tagline-holder {
      display: block;
      width: 194px;
      margin: 30px 150px 0px 0px;
      float: right; }
      @media screen and (max-width: 600px) {
        /* line 123, scss/reunion.styles.scss */
        .container .header .tagline-holder {
          width: 130px;
          margin: 18px 10px 0px 0px; } }
      /* line 135, scss/reunion.styles.scss */
      .container .header .tagline-holder .tagline {
        display: block;
        width: 100%; }
        /* line 145, scss/reunion.styles.scss */
        .container .header .tagline-holder .tagline.verdun {
          display: block;
          width: 50%;
          padding-top: 12px;
          float: right; }
          @media screen and (max-width: 600px) {
            /* line 145, scss/reunion.styles.scss */
            .container .header .tagline-holder .tagline.verdun {
              width: 60%;
              padding-top: 8px;
              display: none; } }
    /* line 161, scss/reunion.styles.scss */
    .container .header .navigation {
      position: absolute;
      width: 134px;
      height: 50px;
      margin: -25px 0px 0px -134px;
      padding: 0px;
      left: 100%;
      top: 50%;
      border-left: 1px solid #f49b7e; }
      @media screen and (max-width: 600px) {
        /* line 161, scss/reunion.styles.scss */
        .container .header .navigation {
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
          border-left: 0px;
          z-index: 20;
          width: 74px;
          height: 30px;
          margin: -42px 0px 0px -76px;
          padding: 0px;
          left: 100%;
          top: 100%; } }
      /* line 184, scss/reunion.styles.scss */
      .container .header .navigation .social_icons {
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -15px; }
        @media screen and (max-width: 600px) {
          /* line 184, scss/reunion.styles.scss */
          .container .header .navigation .social_icons {
            top: 0%;
            margin-top: 0px; } }
        /* line 195, scss/reunion.styles.scss */
        .container .header .navigation .social_icons.icon_facebook {
          left: 28px; }
          @media screen and (max-width: 600px) {
            /* line 195, scss/reunion.styles.scss */
            .container .header .navigation .social_icons.icon_facebook {
              left: 0px; } }
        /* line 203, scss/reunion.styles.scss */
        .container .header .navigation .social_icons.icon_instagram {
          left: 70px; }
          @media screen and (max-width: 600px) {
            /* line 203, scss/reunion.styles.scss */
            .container .header .navigation .social_icons.icon_instagram {
              left: 100%;
              margin-left: -30px; } }
  /* line 217, scss/reunion.styles.scss */
  .container .social_icons {
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0px;
    opacity: 1;
    padding: 0px;
    -webkit-transition: all, 0.25s;
    -moz-transition: all, 0.25s;
    transition: all, 0.25s;
    cursor: pointer; }
    /* line 229, scss/reunion.styles.scss */
    .container .social_icons:hover {
      text-decoration: underline;
      opacity: .5; }
    /* line 235, scss/reunion.styles.scss */
    .container .social_icons img {
      width: 100%;
      height: 100%;
      display: block; }
  /* line 242, scss/reunion.styles.scss */
  .container .slideshow {
    height: 420px;
    position: relative; }
    @media screen and (max-width: 600px) {
      /* line 242, scss/reunion.styles.scss */
      .container .slideshow {
        height: 200px; } }
    @media screen and (min-width: 1200px) {
      /* line 242, scss/reunion.styles.scss */
      .container .slideshow {
        height: 500px; } }
    /* line 254, scss/reunion.styles.scss */
    .container .slideshow .slide_butn {
      position: absolute;
      display: block;
      width: 55px;
      height: 55px;
      padding: 0px;
      margin: 0px;
      background-color: #3c3c3b;
      top: 70%;
      text-decoration: none;
      opacity: 1;
      -moz-opacity: 1;
      filter: "alpha(opacity = msamt)";
      -webkit-transition: all, 0.25s;
      -moz-transition: all, 0.25s;
      transition: all, 0.25s;
      cursor: pointer; }
      /* line 28, scss/reunion.styles.scss */
      .container .slideshow .slide_butn:hover {
        opacity: 0.7;
        -moz-opacity: 0.7;
        filter: "alpha(opacity = msamt)"; }
      @media screen and (max-width: 600px) {
        /* line 254, scss/reunion.styles.scss */
        .container .slideshow .slide_butn {
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8); } }
      /* line 270, scss/reunion.styles.scss */
      .container .slideshow .slide_butn.right {
        z-index: 10;
        right: 0%;
        border-bottom-left-radius: 27px;
        border-top-left-radius: 27px; }
        @media screen and (max-width: 600px) {
          /* line 270, scss/reunion.styles.scss */
          .container .slideshow .slide_butn.right {
            right: -2%; } }
        /* line 279, scss/reunion.styles.scss */
        .container .slideshow .slide_butn.right .arrow {
          left: 4px; }
      /* line 284, scss/reunion.styles.scss */
      .container .slideshow .slide_butn.left {
        z-index: 20;
        border-bottom-right-radius: 27px;
        border-top-right-radius: 27px; }
        @media screen and (max-width: 600px) {
          /* line 284, scss/reunion.styles.scss */
          .container .slideshow .slide_butn.left {
            left: -2%; } }
        /* line 292, scss/reunion.styles.scss */
        .container .slideshow .slide_butn.left .arrow {
          right: 0px; }
      /* line 297, scss/reunion.styles.scss */
      .container .slideshow .slide_butn .arrow {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        display: block;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7); }
        /* line 307, scss/reunion.styles.scss */
        .container .slideshow .slide_butn .arrow .symbol {
          fill: transparent;
          stroke: #f49b7e;
          stroke-width: 4; }
    /* line 316, scss/reunion.styles.scss */
    .container .slideshow .slide {
      width: 100%;
      height: 100%; }
      /* line 320, scss/reunion.styles.scss */
      .container .slideshow .slide.photo1 {
        background-image: url(/images/full/photo_vedette_1.jpg);
        background-size: 100% auto;
        background-position: center 65%;
        background-repeat: no-repeat; }
        @media screen and (max-width: 600px) {
          /* line 320, scss/reunion.styles.scss */
          .container .slideshow .slide.photo1 {
            background-size: 140% auto;
            background-position: center 70%; } }
        @media screen and (min-width: 1200px) {
          /* line 320, scss/reunion.styles.scss */
          .container .slideshow .slide.photo1 {
            background-position: center 70%; } }
        @media screen and (min-width: 1800px) {
          /* line 320, scss/reunion.styles.scss */
          .container .slideshow .slide.photo1 {
            background-position: center 50%; } }
  /* line 341, scss/reunion.styles.scss */
  .container .zone-marques, .container .zone-coordonnees {
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    /*
    $fontSize: 12px, 
    $color: white, 
    $family: $fontFamily1, 
    $transform: none, 
    $lineHeight: auto, 
    $align: left, 
    $fontWeight: 300, 
    $fontStyle: normal
    */ }
    /* line 345, scss/reunion.styles.scss */
    .container .zone-marques h1, .container .zone-coordonnees h1 {
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: .27em;
      padding: 20px 0px 6px 50px;
      margin: 0px;
      background-color: #3c3c3b;
      border-bottom: 2px solid #f49b7e; }
    /* line 366, scss/reunion.styles.scss */
    .container .zone-marques .navigation-marques, .container .zone-coordonnees .navigation-marques {
      margin: 20px 0px 20px 0px; }
      /* line 369, scss/reunion.styles.scss */
      .container .zone-marques .navigation-marques a, .container .zone-coordonnees .navigation-marques a {
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        color: #a7a392;
        padding: 4px 10px 4px 10px;
        display: inline-block; }
    /* line 376, scss/reunion.styles.scss */
    .container .zone-marques .contenu-marques, .container .zone-coordonnees .contenu-marques {
      min-height: 280px; }
      /* line 380, scss/reunion.styles.scss */
      .container .zone-marques .contenu-marques a, .container .zone-coordonnees .contenu-marques a {
        position: relative;
        display: inline-block;
        padding: 10px;
        width: 118px;
        height: 118px;
        margin: 6px 10px 6px 10px;
        border-top-left-radius: 59px;
        border-top-right-radius: 59px;
        border-bottom-left-radius: 59px;
        border-bottom-right-radius: 59px;
        background-color: rgba(167, 163, 146, 0.2); }
        /* line 392, scss/reunion.styles.scss */
        .container .zone-marques .contenu-marques a span, .container .zone-coordonnees .contenu-marques a span {
          position: absolute;
          width: 80%;
          top: 35%;
          text-align: center;
          display: block; }
  /* line 403, scss/reunion.styles.scss */
  .container .zone-marques {
    background-image: url("/images/full/marques_background.jpg");
    background-size: cover; }
  /* line 408, scss/reunion.styles.scss */
  .container .zone-coordonnees {
    min-height: 380px;
    background-image: url("/images/full/map_background.jpg");
    background-size: auto 100%;
    background-position: right top; }
