<!doctype html>
<!--[if (IE 9) | (lt IE 9)]> <html class="ie9-and-lower"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
	<title>Boutique Réunion</title>
	<meta charset="utf-8" />
	<meta id="view_port" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="google-site-verification" content="Ocy0pCHA5vk1HEtPaKFJlyvkVoPRBeTCnxM4uC6pEJE" />
	<link rel="stylesheet" type="text/css" href="css/reunion.styles.css?v=2.3">
	<style type="text/css">
	@@includecss
	</style>

</head>

<body class="clip_car" ng-app="reunion" ng-controller="nosMarques" scrollposition="">	


	<div class="container" id="container" autoresize="" >
		<div class="header">
			<img class="logo" src="images/full/logo.svg" alt="Reunion"/>

			<div class="tagline-holder">
				<img class="tagline" src="images/full/tagline.svg" alt="Cuisine et Masion"/>
				<img class="tagline verdun" src="images/full/tagline_verdun.svg" alt="Cuisine et Masion"/>
			</div>

			<div class="navigation">
				<a href="https://www.facebook.com/boutiquereunion" target="facebook" data-href="outbound-facebook" class="icon_facebook social_icons" id="butn_facebook">
					<img src="images/full/logo_fb.svg" alt="Icon Facebook"/>
				</a>
				<a href="https://www.instagram.com/boutiquereunion/" target="instagram" data-href="outbound-instagram" class="icon_instagram social_icons" id="butn_instagram">
					<img src="images/full/logo_instagram.svg" alt="Icon Instagram"/>
				</a>
			</div>
		</div>
		<div class="slideshow">
			<a class="slide_butn right" ng-click="changeSlide(true)">
				<svg class="icon arrow">
					<path class="symbol" d="M 19 10 L 35 25.25 L 19 40" ></path>
				</svg>
			</a>
			<a class="slide_butn left" ng-click="changeSlide(false)">
				<svg class="icon arrow">
					<path class="symbol" d="M 33 10 L 16 25.25 L 33 40" ></path>
				</svg>
			</a>

			<div class="slide" ng-init="imageLoading = true; imageLoaded = false;" ng-class="x.classname" ng-style="{left: hiddenPhoto($index,x),backgroundImage: backgroundStyle}" ng-repeat="x in photos" load-initial-image>
			</div>
		</div>

		<div class="nouvelles" ng-repeat="news in nouvelles" ng-class="{displayNews: showNews, minimized: minimizeNewsArea}">

				<svg class="nouvellesarrow" ng-click="minimizeNews()" ng-class="{minimized: minimizeNewsArea}">
					<path class="symbol" d="M 1 5 L 10 14 L 18 5" ></path>
				</svg>

				<div class="nouvellesText">
					<a ng-href="{{news.link}}" ng-if="news.message" ng-class="{fullwidth:!news.picture}" target="new">{{news.message}}</a>
					<a ng-href="{{news.link}}" ng-if="!news.message" ng-class="{fullwidth:!news.picture}" target="new">{{news.description}}</a>

					<a ng-href="{{news.link}}" ng-if="news.picture" target="new" class="nouvellesImageHolder" ng-style="{backgroundImage:renderBackground(news.picture)}"></a>
				</div>
		</div>

		<div class="zone-instagram" id="zone-instagram">
			<h1><img src="images/full/logo_instagram.svg" alt="Icon Instagram"/>Sur Instagram</h1>

			<div class="contenu-instagram">
				<div class="contenu-holder">
					<div class="instagram_post" ng-repeat="y in instagram">
						<a ng-href="{{y.link}}" target="instagram"  ng-class="{'show': show}" ng-style="{backgroundImage: marquesLogos(y.image)}">
							<span>{{y.caption}}</span>
						</a>
						<a class="insta-arrow-holder"ng-click="showInstagramDescription()">
							<svg class="nouvellesarrow"  ng-class="{'maximized': show}" >
								<path class="symbol" d="M 1 5 L 10 14 L 18 5" ></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="zone-marques" id="zone-marques">
			<h1>Nos Marques</h1>

			<div class="contenu-marques" ng-style="{height:navHeightStyle}">
				<div class="contenu-holder">
				<a ng-repeat="y in selectedType" ng-href="{{y.url}}" ng-style="{backgroundImage: marquesLogos(y.logo)}" ng-class="marqueHasClass(y)" target="new"><span ng-class="{hidden:marqueHasLogo(y.logo)}">{{y.name}}</span></a>
				</div>
			</div>
		</div>


		<div class="zone-coordonnees" id="zone-coordonnees">
			<h1>Nos Coordonnées</h1>

			<div class="address">
				<span>4750 Wellington</span>
				<span>Verdun QC H4G 1X3</span>
				<span>514-819-2294</span>
				<a href="mailto:info@boutiquereunion.com">info@boutiquereunion.com</a>
			</div>

			<div class="photo_coordonnees" ng-init="imageLoading = true; imageLoaded = false;" ng-class="x.classname" ng-style="{backgroundImage: backgroundStyle}" ng-repeat="x in coordonnees" check-object-position >
			</div>
		</div>
		
	</div>
	<script type="text/javascript">(function(win){

	var links = new Array();
	links.push("/css/reunion.styles.css");

	// var cssFontLinks = new Array();
	// cssFontLinks.push("http://fonts.googleapis.com/css?family=Oswald%7CKarla:400,400italic,700,700italic");
	// cssFontLinks.push("http://fonts.googleapis.com/css?family=Average");
	
	var scripts = new Array();
	scripts.push("/javascript/reunion.js");

	var scriptsloaded = 0; 
	var cssloaded = 0; 

	var loader = new Object();
	loader.elementId = "loader";
	loader.elementMessageId = "loading_message";
	loader.classInitial = "clip";
	loader.classFinished = "right";


	var elementsToShow = new Array();

	var loadingMessages = new Object();
	loadingMessages.initial = "Loading";
	loadingMessages.finsihed = "Finished";
	loadingMessages.legacy = "Legacy Browser";


	// creates the XMLHTTP Object
	function createXMLHttpRequest() {
		try	{
			return new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e) {}
		
		try{
			return new ActiveXObject("Microsoft.XMLHTTP");
		}
		catch (e) {}
		
		try{
			return new XMLHttpRequest();
			}
		catch(e){}
		
		return null;
	}

	function loadScript(scriptname){
		
		var xhr = createXMLHttpRequest();

		xhr.onreadystatechange = function() 
		{
			if (xhr.readyState==4) 
			{// Request is finished
			
				if (xhr.status!=200)
				{
				}// end if 
				else{
					appendScript(xhr.responseText);
				}// end if 
			}// end main if
			else
			{	
				//showErrorPanel("An error occurred with your submission. Please contact customer support!");
			}
		}// end onreadystatechange function
		
		xhr.open("GET", scriptname, true);
		xhr.setRequestHeader("Content-type","application/javascript");
		xhr.send();
	}

	function loadCSS(linklocation){
		
		if(typeof linklocation != "undefined"){

			var xhr = createXMLHttpRequest();

			xhr.onreadystatechange = function() 
			{
				if (xhr.readyState==4) 
				{// Request is finished
				
					if (xhr.status!=200)
					{
					}// end if 
					else{
						appendCSS(xhr.responseText);
					}// end if 
				}// end main if
				else
				{	
					//showErrorPanel("An error occurred with your submission. Please contact customer support!");
				}
			}// end onreadystatechange function
			
			xhr.open("GET", linklocation, true);
			xhr.setRequestHeader("Content-type","text/css");
			xhr.send();
		}
	}

	function unclipBodyRemoveCar(){
		setTimeout(function(){
			//jquery is loaded at this point
			var ldr = document.getElementById(loader.elementId);

			if(typeof ldr != "undefined" && ldr != null){
				document.body.removeChild(ldr);
				document.body.className = "";	
			}
			
			
		},500);
	}

	function appendScript(output){
		var head = document.head || document.getElementsByTagName("head")[0];
		var s = document.createElement("script");
		s.type = "text/javascript";
		s.text = output;
		head.appendChild(s);
		scriptsloaded++;

		//loadOtherScripts(scriptsloaded);

		if(scriptsloaded>scripts.length){

			var ele = document.getElementById(loader.elementMessageId);

			if(typeof ele != "undefined" && ele != null){
				ele.innerHTML = loadingMessages.finished;	
			}
			
		}

		if(scriptsloaded==scripts.length){
			loadCSS(links[cssloaded]);
		}
	}

	function appendCSS(output){
		var head = document.head || document.getElementsByTagName("head")[0];
		
		var dldcss = document.createElement("style");
		dldcss.text = "text/css";
		dldcss.media = "screen";
		head.appendChild(dldcss);

		if(dldcss.styleSheet){
			dldcss.styleSheet.cssText = output;
		}
		else{
			dldcss.appendChild(document.createTextNode(output));
		}

		cssloaded++;

		if(typeof links[cssloaded] != "undefined"){
			loadCSS(links[cssloaded]);
		}

		if(cssloaded==links.length){

			var ele = document.getElementById(loader.elementId);

			if(typeof ele != "undefined" && ele != null){
				ele.className=loader.classFinished;	
			}

			unclipBodyRemoveCar();
			loadCSSFontLinks();
			
			var timeout = setTimeout(function(){

				if(elementsToShow.length > 0 ){
					for(var i in elementsToShow){
						var cssele = document.querySelector(elementsToShow[i]);

						if(typeof cssele != "undefined" && cssele != null){
							cssele.style.display="block";	
						}
					}	
				}
				// else{
				// 	throw "No elements to show";
				// }
				
			},500);
		}
	}

	function loadJquery(){

		var ele = document.getElementById(loader.elementId);

		if(typeof ele != "undefined" && ele != null){
			ele.className="";
			document.getElementsByTagName("body").className=loader.classInitial;
		}

		loadScript(scripts[0]);
	}

	function loadOtherScripts(indice){
		if(typeof scripts[indice] != "undefined"){
			loadScript(scripts[indice]);
		}
	}

	//https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations/Detecting_CSS_animation_support
	function checkForAnimations(){

		var elm = document.createElement("div");
		document.body.appendChild(elm);

		var animation = false,
		    animationstring = 'animation',
		    keyframeprefix = '',
		    domPrefixes = 'Webkit Moz O ms Khtml'.split(' '),
		    pfx  = '';

		if( elm.style.animationName !== undefined ) { animation = true; }    

		if( animation === false ) {
		  for( var i = 0; i < domPrefixes.length; i++ ) {
		    if( elm.style[ domPrefixes[i] + 'AnimationName' ] !== undefined ) {
		      pfx = domPrefixes[ i ];
		      animationstring = pfx + 'Animation';
		      keyframeprefix = '-' + pfx.toLowerCase() + '-';
		      animation = true;
		      break;
		    }
		  }
		}

		document.body.removeChild(elm);
		return animation;
	}

	function loadCSSFontLinks(){
		var head = document.head || document.getElementsByTagName("head")[0];

		if(typeof cssFontLinks != "undefined"){
			for(var i =0;i<cssFontLinks.length;i++){
				var l = document.createElement("link");
				l.href = cssFontLinks[i];
				l.rel = "stylesheet";
				l.type = "text/css";
				head.appendChild(l);
			}

		}

	}
	//if( typeof window.addEventListener !="undefined" && !Boolean(navigator.userAgent.match(/msie\s(7|8|9)/i))){
	if(checkForAnimations()){
		document.addEventListener("DOMContentLoaded",loadJquery);
	}
	else{
		window.location.assign("/legacy.html");
	}

})();</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77718372-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>

</html>