<!doctype html>
<!--[if (IE 9) | (lt IE 9)]> <html class="ie9-and-lower"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
	<title>Boutique Réunion</title>
	<meta charset="utf-8" />
	<meta id="view_port" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="css/reunion.styles.css">
<!--	<style type="text/css">
	@@includecss
	</style>
-->
</head>

<body class="clip_car" ng-app="reunion" ng-controller="nosMarques" >	

	<div id="loader" class="left"><h1 id="loading_message">Loading</h1><span></span><div id="illo"></div></div>	

	<div class="container" id="container" autoresize="" >
		<div class="header">
			<img class="logo" src="images/full/logo.svg" alt="Reunion"/>

			<div class="tagline-holder">
				<img class="tagline" src="images/full/tagline.svg" alt="Cuisine et Masion"/>
				<img class="tagline verdun" src="images/full/tagline_verdun.svg" alt="Cuisine et Masion"/>
			</div>

			<div class="navigation">
				<a href="https://www.facebook.com/Boutique-R%C3%A9union-1642180529434972" target="facebook" data-href="outbound-facebook" class="icon_facebook social_icons" id="butn_facebook">
					<img src="images/full/logo_fb.svg" alt="Icon Facebook"/>
				</a>
				<a href="https://www.instagram.com/boutiquereunion/" target="instagram" data-href="outbound-instagram" class="icon_instagram social_icons" id="butn_instagram">
					<img src="images/full/logo_instagram.svg" alt="Icon Instagram"/>
				</a>
			</div>
		</div>
		<div class="slideshow">
			<a class="slide_butn right" ng-click="changeSlide(true)">
				<svg class="icon arrow">
					<path class="symbol" d="M 19 10 L 35 25.25 L 19 40" />
				</svg>
			</a>
			<a class="slide_butn left" ng-click="changeSlide(false)">
				<svg class="icon arrow">
					<path class="symbol" d="M 33 10 L 16 25.25 L 33 40" />
				</svg>
			</a>

			<div class="slide" ng-init="imageLoading = true; imageLoaded = false;" ng-class="x.classname" ng-style="{left: hiddenPhoto($index,x),backgroundImage: backgroundStyle}" ng-repeat="x in photos" load-initial-image>
			</div>
		</div>

		<div class="zone-marques" >
			<h1>Nos Marques</h1>

			<div class="navigation-marques">
				<a ng-click="changeMarques($index)" ng-repeat="(key, val) in marques">{{key}}</a>
			</div>

			<div class="contenu-marques" >
				<a ng-repeat="y in selectedType" ng-style="{backgroundImage: marquesLogos(y.logo)}" ng-class="marqueHasClass(y)"><span ng-class="{hidden:marqueHasLogo(y.logo)}">{{y.name}}</span></a>
			</div>
		</div>

		<div class="zone-coordonnees">
			<h1>Nos Coordonnées</h1>
			<div class="address">
				<span>4750 Wellington</span>
				<span>Verdun QC H4G 1X3</span>
				<span>514-819-2294</span>
				<a href="mailto:info@boutiquereunion.com">info@boutiquereunion.com</a>
			</div>
		</div>
		
	</div>
</body>
<script type="text/javascript">(function(win){

	var links = new Array();
	links.push("/css/reunion.styles.css");

	// var cssFontLinks = new Array();
	// cssFontLinks.push("http://fonts.googleapis.com/css?family=Oswald%7CKarla:400,400italic,700,700italic");
	// cssFontLinks.push("http://fonts.googleapis.com/css?family=Average");
	
	var scripts = new Array();
	scripts.push("/javascript/reunion.js");

	var scriptsloaded = 0; 
	var cssloaded = 0; 

	var loader = new Object();
	loader.elementId = "loader";
	loader.elementMessageId = "loading_message";
	loader.classInitial = "clip_car";
	loader.classFinished = "right";


	var elementsToShow = new Array();
	elementsToShow.push("container");

	var loadingMessages = new Object();
	loadingMessages.initial = "Loading";
	loadingMessages.finsihed = "Finished";
	loadingMessages.legacy = "Legacy Browser";


	// creates the XMLHTTP Object
	function createXMLHttpRequest() {
		try	{
			return new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e) {}
		
		try{
			return new ActiveXObject("Microsoft.XMLHTTP");
		}
		catch (e) {}
		
		try{
			return new XMLHttpRequest();
			}
		catch(e){}
		
		return null;
	}

	function loadScript(scriptname){
		
		var xhr = createXMLHttpRequest();

		xhr.onreadystatechange = function() 
		{
			if (xhr.readyState==4) 
			{// Request is finished
			
				if (xhr.status!=200)
				{
				}// end if 
				else{
					appendScript(xhr.responseText);
				}// end if 
			}// end main if
			else
			{	
				//showErrorPanel("An error occurred with your submission. Please contact customer support!");
			}
		}// end onreadystatechange function
		
		xhr.open("GET", scriptname, true);
		xhr.setRequestHeader("Content-type","application/javascript");
		xhr.send();
	}

	function loadCSS(linklocation){
		
		if(typeof linklocation != "undefined"){

			var xhr = createXMLHttpRequest();

			xhr.onreadystatechange = function() 
			{
				if (xhr.readyState==4) 
				{// Request is finished
				
					if (xhr.status!=200)
					{
					}// end if 
					else{
						appendCSS(xhr.responseText);
					}// end if 
				}// end main if
				else
				{	
					//showErrorPanel("An error occurred with your submission. Please contact customer support!");
				}
			}// end onreadystatechange function
			
			xhr.open("GET", linklocation, true);
			xhr.setRequestHeader("Content-type","text/css");
			xhr.send();
		}
	}

	function unclipBodyRemoveCar(){
		setTimeout(function(){
			//jquery is loaded at this point
			var ldr = document.getElementById(loader.elementId);
			document.body.removeChild(ldr);
			document.body.className = "";
			
		},500);
	}

	function appendScript(output){
		var head = document.head || document.getElementsByTagName("head")[0];
		var s = document.createElement("script");
		s.type = "text/javascript";
		s.text = output;
		head.appendChild(s);
		scriptsloaded++;

		//loadOtherScripts(scriptsloaded);

		if(scriptsloaded>scripts.length){
			document.getElementById(loader.elementMessageId).innerHTML = loadingMessages.finished;
		}

		if(scriptsloaded==scripts.length){
			loadCSS(links[cssloaded]);
		}
	}

	function appendCSS(output){
		var head = document.head || document.getElementsByTagName("head")[0];
		
		var dldcss = document.createElement("style");
		dldcss.text = "text/css";
		dldcss.media = "screen";
		head.appendChild(dldcss);

		if(dldcss.styleSheet){
			dldcss.styleSheet.cssText = output;
		}
		else{
			dldcss.appendChild(document.createTextNode(output));
		}

		cssloaded++;

		if(typeof links[cssloaded] != "undefined"){
			loadCSS(links[cssloaded]);
		}

		if(cssloaded==links.length){
			document.getElementById(loader.elementId).className=loader.classFinished;
			unclipBodyRemoveCar();
			loadCSSFontLinks();
			
			var timeout = setTimeout(function(){

				if(elementsToShow.length > 0 ){
					for(var i in elementsToShow){
						document.getElementById(elementsToShow[i]).style.display="block";	
					}	
				}
				else{
					throw "No elements to show";
				}
				
			},500);
		}
	}

	function loadJquery(){
		document.getElementById(loader.elementId).className="";
		document.getElementsByTagName("body").className=loader.classInitial;

		loadScript(scripts[0]);
	}

	function loadOtherScripts(indice){
		if(typeof scripts[indice] != "undefined"){
			loadScript(scripts[indice]);
		}
	}

	//https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations/Detecting_CSS_animation_support
	function checkForAnimations(){

		var elm = document.createElement("div");
		document.body.appendChild(elm);

		var animation = false,
		    animationstring = 'animation',
		    keyframeprefix = '',
		    domPrefixes = 'Webkit Moz O ms Khtml'.split(' '),
		    pfx  = '';

		if( elm.style.animationName !== undefined ) { animation = true; }    

		if( animation === false ) {
		  for( var i = 0; i < domPrefixes.length; i++ ) {
		    if( elm.style[ domPrefixes[i] + 'AnimationName' ] !== undefined ) {
		      pfx = domPrefixes[ i ];
		      animationstring = pfx + 'Animation';
		      keyframeprefix = '-' + pfx.toLowerCase() + '-';
		      animation = true;
		      break;
		    }
		  }
		}

		document.body.removeChild(elm);
		return animation;
	}

	function loadCSSFontLinks(){
		var head = document.head || document.getElementsByTagName("head")[0];

		if(typeof cssFontLinks != "undefined"){
			for(var i =0;i<cssFontLinks.length;i++){
				var l = document.createElement("link");
				l.href = cssFontLinks[i];
				l.rel = "stylesheet";
				l.type = "text/css";
				head.appendChild(l);
			}

		}

	}
	//if( typeof window.addEventListener !="undefined" && !Boolean(navigator.userAgent.match(/msie\s(7|8|9)/i))){
	if(checkForAnimations() || Boolean(navigator.userAgent.match(/msie\s(9)/i)) ){
		document.addEventListener("DOMContentLoaded",loadJquery);
	}
	else{
		document.getElementById(loader.elementId).className="";
		document.getElementById(loader.elementMessageId).innerHTML = loadingMessages.legacy;	
	}

})();</script>
</html>