<!doctype html>
<!--[if (IE 9) | (lt IE 9)]> <html class="ie9-and-lower"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
	<title>Boutique Réunion</title>
	<meta charset="utf-8" />
	<meta id="view_port" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="css/reunion.styles.css">
<!--	<style type="text/css">
	@@includecss
	</style>
-->
</head>

<body class="clip_car">	

	<div id="loader" class="left"><h1 id="loading_message">Loading</h1><span></span><div id="illo"></div></div>	

	<div class="container" id="container" autoresize="">
		<div class="header">
			<img class="logo" src="images/full/logo.svg" alt="Reunion"/>

			<div class="tagline-holder">
				<img class="tagline" src="images/full/tagline.svg" alt="Cuisine et Masion"/>
				<img class="tagline verdun" src="images/full/tagline_verdun.svg" alt="Cuisine et Masion"/>
			</div>

			<div class="navigation">
				<a href="https://www.facebook.com/Boutique-R%C3%A9union-1642180529434972" target="facebook" data-href="outbound-facebook" class="icon_facebook social_icons" id="butn_facebook">
					<img src="images/full/logo_fb.svg" alt="Icon Facebook"/>
				</a>
				<a href="https://www.instagram.com/boutiquereunion/" target="instagram" data-href="outbound-instagram" class="icon_instagram social_icons" id="butn_instagram">
					<img src="images/full/logo_instagram.svg" alt="Icon Instagram"/>
				</a>
			</div>
		</div>
		<div class="slideshow">
			<a class="slide_butn right">
				<svg class="icon arrow">
					<path class="symbol" d="M 19 10 L 35 25.25 L 19 40" />
				</svg>
			</a>
			<a class="slide_butn left">
				<svg class="icon arrow">
					<path class="symbol" d="M 33 10 L 16 25.25 L 33 40" />
				</svg>
			</a>
			<div class="slide photo1">

			</div>
		</div>

		<div ng-app="reunion" class="zone-marques" ng-controller="nosMarques">
			<h1>Nos Marques</h1>

			<div class="navigation-marques">
				<a ng-click="changeMarques($index)" ng-repeat="(key, val) in marques">{{key}}</a>
			</div>

			<div class="contenu-marques" >
				<a ng-repeat="y in selectedType"><span>{{y.name}}</span></a>
			</div>
		</div>

		<div class="zone-coordonnees">
			<h1>Nos Coordonnées</h1>
		</div>
		
	</div>
</body>
<!-- inject -->
</html>